
Project Install Instructions

1) Install RVM (or any Ruby version manager)
	RVM installation guide
	(Alternatively, you can use rbenv or asdf if you prefer.)\
	
2) Install Ruby version 3.4.4
	After installing RVM:
	rvm install 3.4.4
	rvm use 3.4.4 --default

3) i am using SQLite for  database
	This project uses SQLite for the database.
	
4) Install project dependencies
	bundle install
	
5) Create the database
	rake db:create
	
6) Run database migrations
	rake db:migrate
7) Seed the database with initial data
	rake db:seed
	
7) Start the Rails server
	rails s
	
